body {
  font-family: "Poppins", sans-serif;
}
.small-placeholder ::placeholder {
  font-size: 13.5px !important;
  color: #555;
}
.custom-input::placeholder {
  font-size: 0.85rem;
  color: #6c757d;
}

.custom-input,
.custom-select {
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.custom-input:focus,
.custom-select:focus {
  box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.15);
  border-color: #0d6efd;
}

.custom-select {
  font-size: 0.9rem;
}

.card {
  background-color: #ffffff;
}

button.btn-primary {
  background: linear-gradient(135deg, #007bff, #0056d2);
  border: none;
  border-radius: 10px;
  transition: all 0.3s ease;
}

button.btn-primary:hover {
  background: linear-gradient(135deg, #0056d2, #003e9f);
  transform: translateY(-1px);
}


/*  */
table th {
  background-color: #f8f9fa !important;
  color: #333;
  font-weight: 600;
}

.card ul li {
  font-size: 0.9rem;
  color: #555;
}

.badge {
  font-size: 0.85rem;
  padding: 6px 10px;
  border-radius: 8px;
}

/*  */
.card ul li {
  font-size: 0.95rem;
  color: #555;
}

.bg-light {
  background-color: #f1f1f1 !important;
}
